*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1110px;
    margin: auto;
}
header{
    padding:50px 0;
}
header .logo img{
    margin: 0 auto;
    display: block;
}
header nav ul{
    display: flex;
    justify-content: center;
    margin-top: 50px; 
}
header nav ul li{
    margin:0 27px
}
header nav ul li a{
    color:#bab9b9 ;
    font-size: 18px;
    font-weight: 400;
}
header nav ul li .active{
    color: #4581b7;
}
header nav ul li .active::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background:#4581b7 ;
    margin-top: 10px;
    margin-left: 20px;
}
.main_contact{
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.main_contact .firs_paragrph{
    max-width: 730px;
    background-color:#f0f0f0 ;
    padding: 50px 40px 70px 40px;

    
}
.main_contact .second_paragrph{
    max-width: 300px;
    background-color:#f0f0f0;
    padding: 50px 40px 70px 40px; ;

}
.main_contact h2{
    color: #4581b7;
    font-weight: 700;
    font-size:20;
    margin-bottom: 25px;
}
.main_contact p{
    color: #7f7f7f;
    font-weight: 400;
    font-size:16px;
    line-height: 27px;
}
.main .main_contact aside .phone{
    margin: 50px 0;
    display: block;
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 400;
}
.main .main_contact aside .mail{
    display: block;
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 400;
}
footer{
    background-color:#f0f0f0;
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    padding: 40px 41px 10px 40px;
}
footer .footer_info p{
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer_phone{
    font-size:25px;
    font-weight: 700;
    color: #757474;
}
